<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="web-dashboard" enabled="true">
                    <match
                        url="^(?!.*\.(css|js|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|html)$)(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/layout.html" />
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="true" />
    </system.webServer>
    <appSettings>
        <add key="REACT_APP_API_URL" value="localhost:4000" />
        <add key="REACT_APP_API_KEY" value="XXXXXXXXX" />
        <add key="REACT_APP_GOOGLE_ANALYTICS_ID" value="UA-XXXXXXXXX-X" />
        <add key="NEXT_PUBLIC_WHATSAPP_NUMBER" value="3102477988" />
        <add key="NODE_ENV" value="production" />
        <add key="NEXT_PUBLIC_SOCKET_URL" value="http://dashboard.cds.net.co" />
    </appSettings>
</configuration>