#emotion table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#emotion th,
#emotion td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#emotion thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
}

#emotion tbody+tbody {
    border-top: 2px solid #dee2e6;
}

#emotion tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

#emotion tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

#emotion .table-row-selected {
    background-color: #d1e7f2 !important;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}