#config table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
    font-family: sans-serif;
}

#config th {
    font-weight: 500;
}

#config th:nth-child(1),
#config th:nth-child(2),
#config th:nth-child(3),
#config th:nth-child(4),
#config th:nth-child(5),
#config th:nth-child(6),
#config th:nth-child(7),
#config th:nth-child(8) {
    text-align: center;
}

#config th,
#config td:nth-child(1) {
    text-align: left;
    width: 15% !important;
    padding: -1px !important;
}

#config th,
#config td:nth-child(2) {
    width: 30% !important;
    padding: -1px !important;
}

#config th,
#config td:nth-child(3) {
    /* Third column */
    width: 20% !important;
    padding: -1px !important;
}

#config th,
#config td:nth-child(4) {
    /* Third column */
    width: 15% !important;
    padding: -1px !important;
}

#config th,
#config td:nth-child(5) {
    /* Third column */
    width: 6% !important;
    text-align: center;
    padding: -1px !important;
}

#config th,
#config td:nth-child(6) {
    /* Third column */
    width: 4% !important;
    padding: -1px !important;
}

#config th,
#config td:nth-child(7) {
    /* Third column */
    width: 4% !important;
    padding: -1px !important;
}

#config th,
#config td:nth-child(8) {
    /* Third column */
    width: 4% !important;
    padding: -1px !important;
}

#config .table-row-selected {
    background-color: burlywood;
    /* Color de fondo para la fila seleccionada */
}