.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1.2s linear infinite;

}

.loader-mini {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1.2s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-container_ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    background-color: #f0f0f0;
    margin-bottom: -10% !important;
}