@tailwind base;
@tailwind components;
@tailwind utilities;

.email {
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    line-height: 0%;
    margin-bottom: 10%;
}