#permissionTemplates table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
    font-family: sans-serif;
}

#permissionTemplates th {
    padding: 4px !important;
    font-weight: lighter;
}

#permissionTemplates thead>tr {
    font-size: small;
}


#permissionTemplates th:nth-child(1),
#permissionTemplates th:nth-child(2),
#permissionTemplates th:nth-child(3),
#permissionTemplates th:nth-child(4),
#permissionTemplates th:nth-child(5),
#permissionTemplates th:nth-child(6),
#permissionTemplates th:nth-child(7),
#permissionTemplates th:nth-child(8),
#permissionTemplates th:nth-child(9),
#permissionTemplates th:nth-child(10),
#permissionTemplates th:nth-child(11) {
    text-align: center;
}

/* Set fixed widths for each column using `width` property */
#permissionTemplates th,
#permissionTemplates td:nth-child(1) {
    /* First column */
    text-align: center;
    width: 5% !important;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(2) {
    /* Second column */
    width: 20% !important;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(3) {
    /* Third column */
    width: 20% !important;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(4) {
    /* Third column */
    width: 10% !important;
    text-align: center;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(5) {
    /* Third column */
    width: 10% !important;
    text-align: left !important;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(6) {
    /* Third column */
    width: 10% !important;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(7) {
    /* Third column */
    width: 5% !important;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(8) {
    /* Third column */
    width: 5% !important;
    text-align: center;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(9) {
    /* Third column */
    width: 5% !important;
    text-align: center;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(10) {
    /* Third column */
    width: 5% !important;
    align-items: center;
}

#permissionTemplates th,
#permissionTemplates td:nth-child(11) {
    /* Third column */
    width: 5% !important;
    text-align: center;
}

#permissionTemplates .table-row-selected {
    background-color: burlywood;
    /* Color de fondo para la fila seleccionada */
}