@keyframes neon-glow-slow {
    0% {
        filter: drop-shadow(0 0 10px #42e142);
    }

    50% {
        filter: drop-shadow(0 0 20px #51a039);
    }

    100% {
        filter: drop-shadow(0 0 10px #81ee60);
    }
}

.animate-neon-glow-slow {
    animation: neon-glow-slow 2s linear infinite;
    /* Duración y ciclo */
}